.banners-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.banners {
    padding: 20px 0px;
}

.banner {
    position: relative;
}

.cities {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 6px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 2px 4px;
    max-height: 70%;
    backdrop-filter: blur(2px);
}

.city {
    color: #fff;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}